body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.left,
.right {
    width: 45%;
}

.left {
    padding: 20px;
}

.right {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.wynik {
    margin-top: 10px;
}

.total-wynik {
    margin-top: 20px;
    border-top: 2px solid #333;
    padding-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 12px; /* Rozmiar czcionki */
}

h1 {
    margin-top: 0;
    font-size: 20px; /* Rozmiar czcionki */
}

h2 {
    margin-top: 0;
    color: #333;
    font-size: 18px; /* Rozmiar czcionki */
}

textarea {
    width: 100%;
    height: 200px; /* Zwiększenie wysokości pola */
    padding: 10px;
    border-radius: 5px;
    font-size: 12px; /* Rozmiar czcionki */
    background-color: #fff; /* Ustawienie tła na białe */
    border: 1px solid #ccc; /* Dodanie obramowania */
    border-radius: 5px; /* Zaokrąglenie narożników */
    resize: none; /* Wyłączenie zmiany rozmiaru pola */
    pointer-events: none; /* Zablokowanie interakcji z polem */
}

/* Zmniejszenie rozmiaru czcionki dla wyników */
.wynik p {
    font-size: 12px;
}

/* Zmniejszenie rozmiaru czcionki dla całkowitego wyniku */
.total-wynik p {
    font-size: 12px;
}

/* Kolory dla różnych tierów */
.WitulaT4 {
    color: blue; /* Niebieski */
}

.WitulaT3 {
    color: green; /* Zielony */
}

.WitulaT2 {
    color: grey; /* Szary */
}